version: "3.9"

services:
  web:
    build: ./web
    image: todo-web:1.0
    ports:
      - "8000:80"
    env_file:
      - .env
    volumes:
      - ./web:/var/www/html
    depends_on:
      db:
        condition: service_healthy
    networks:
      - todo_network
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo_db
    volumes:
      - todo_db_volume:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - todo_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    networks:
      - todo_network

networks:
  todo_network:

volumes:
  todo_db_volume:
